# Server Configuration
PORT=3000
JWT_SECRET=your-secret-key

# Database Configuration
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5555
DB_NAME=postgres
DB_URL=postgresql://postgres:admin@localhost:5555/postgres